/* .logo-black {
  img {
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg)
      brightness(119%) contrast(119%);
  }
} */

.container-limit {
  padding: 0;
  max-width: 1300px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.container-size-padding {
  padding-left: 7px !important;
  padding-right: 7px !important;
}

.default-input-color {
  color: rgb(var(--v-theme-on-background)) !important;
}

.error-input-color {
  color: rgb(var(--v-theme-error));
}

.hide-details-replacement {
  margin-bottom: 24px;
}
