$tablet: 960px;
$phone: 560px;

$landscape-height: 375px;
$landscape-width: 812px;

$color-gray: #757575; // grey-darken-1
$color-black: #111111; // grey-darken-1
$color-white: #fff; // grey-darken-1
$color-gold: #9f8228; // grey-darken-1


$color-primary: #1867c0;

$color-border: rgba(0, 0, 0, 0.12);

$border-small-line: 1px solid $color-border;
$border-small-line-white: 1px solid $color-white;

$navbar-height: 75px;
