$tablet: 960px;
$phone: 560px;

$color-gray: #757575; // grey-darken-1
$color-black: #000000DE; // grey-darken-1

@mixin grid($width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($width, 1fr));
    gap: 1.5rem;
}